@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,200,100);
html, body, div, p {
  font: 300 13pt 'Roboto'; }

body {
  height: 100%;
  background-color: #f7f7f7;
  color: #444;
  transition: background-color 0.5s linear; }
  body.dark {
    background-color: black; }
    body.dark header {
      background-color: black;
      color: #5f5f5f;
      box-shadow: none; }

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  color: #b27e00;
  display: none; }

header {
  padding: 0.6em 0 0;
  position: relative;
  top: 0;
  left: 0;
  height: 4.4em;
  background: #FFF;
  color: #333;
  box-shadow: 0px 0px 5px #D2D2D2;
  transition: height 0.5s, background-color 0.5s linear, color 0.5s linear; }
  header h1 {
    font-weight: 100;
    /*font-size: 260%;*/
    margin: 0 auto;
    position: relative;
    top: 0px;
    /*left: 8.4%;*/
    line-height: 1.2em;
    transition: font-size 0.25s, text-align 1.25s ease 1.25s;
    font-size: 130%;
    text-align: left; }
    header h1 small {
      font-weight: 100;
      display: block;
      transition: font-size 0.25s; }
    header h1 a {
      color: inherit;
      outline: none;
      font-size: 150%;
      font-weight: 200; }
      header h1 a:link, header h1 a:hover, header h1 a:active {
        text-decoration: none;
        outline: none;
        color: inherit; }
  header nav > ul {
    width: 100%;
    float: left;
    opacity: 0;
    padding: 0;
    font-size: 220%;
    display: none; }
    header nav > ul li {
      float: left;
      font-size: 110%;
      list-style: none;
      width: 33.3333%;
      text-align: center; }
      header nav > ul li a {
        border-style: solid;
        border-width: 0 2px;
        border-radius: 7px;
        border-color: transparent;
        padding: 0 0.4em;
        outline: none;
        transition: border-color 0.5s, color 0.5s; }
      header nav > ul li a:link, header nav > ul li a:visited, header nav > ul li a:active {
        color: #555;
        text-decoration: none;
        outline: none; }
      header nav > ul li a:hover {
        border-color: #C3C3C3;
        color: #8FC7FF; }
    @media only screen and (min-width: 992px) {
      header nav > ul {
        display: block; } }
  header.narrow {
    height: 3em;
    margin-bottom: 1.3em; }
    header.narrow h1 {
      top: 0px;
      left: 0;
      text-align: center; }
      header.narrow h1 small {
        opacity: 0;
        display: none;
        transition: display 0s linear 0.25s; }
      @media only screen and (min-width: 992px) {
        header.narrow h1 {
          text-align: initial; } }
    header.narrow nav {
      font-size: 110%;
      display: block; }
      header.narrow nav > ul {
        position: relative;
        opacity: 1;
        transition: opacity 0.65s ease 0.25s;
        display: block; }
        header.narrow nav > ul a:link, header.narrow nav > ul a:visited {
          color: #333;
          text-decoration: none;
          font-size: 40%; }
        @media only screen and (min-width: 992px) {
          header.narrow nav > ul {
            width: 9em;
            float: right;
            top: 0px; }
            header.narrow nav > ul li {
              margin: 0;
              line-height: 0.5em; }
            header.narrow nav > ul a:link, header.narrow nav > ul a:visited {
              color: inherit; }
            header.narrow nav > ul a:hover {
              color: #8FC7FF; } }

#front-links {
  margin: 0; }
  #front-links a {
    border-radius: 20px;
    margin: 1.5em 0 0;
    padding: 1em;
    outline: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    color: #464646;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; }
    #front-links a h2 {
      font-size: 170%;
      font-weight: 300;
      margin: 0;
      text-align: center; }
    #front-links a p {
      font-weight: 300;
      text-align: center; }
    #front-links a:hover {
      text-decoration: none;
      background-color: #00A3FF;
      color: #f0f0f0;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.55); }

main {
  padding: 0 0; }
  main h2.title {
    font-size: 170%;
    margin: 0;
    padding: 0;
    font-weight: 300; }
  @media only screen and (min-width: 768px) {
    main > div {
      top: 0; } }

header.narrow + main {
  margin-top: 3em; }

#portfolio {
  margin: 0 auto;
  float: initial; }
  #portfolio h3.project-title {
    white-space: pre-line;
    margin: 0;
    font-size: 140%; }
  #portfolio .tech {
    margin: 0 0 0.3em; }
  #portfolio .tech > span {
    font-size: 70%;
    margin: 0 4px 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px 3px;
    border-width: 0 2px;
    /*white-space: pre-wrap;*/ }
  #portfolio .project {
    margin: 0 0 3em;
    background-color: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25); }
    #portfolio .project .image-holder {
      border: 4px solid #F1F1F1;
      border-radius: 3px;
      clear: both;
      margin: 0 auto;
      padding: 0; }
      #portfolio .project .image-holder img {
        width: 100%; }
  #portfolio .links > a {
    font-size: 65%;
    font-weight: 400;
    margin: 0 1em 0 0;
    background-color: #00A3FF;
    padding: 2px 14px;
    border-radius: 12px;
    color: #f6f6f6;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.49);
    transition: background-color 0.15s; }
    #portfolio .links > a:hover {
      background-color: #6EB7FF; }

#skills > ul {
  padding: 8px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  margin: 0; }
  #skills > ul * {
    list-style: none;
    cursor: default; }
  #skills > ul > li {
    font-size: 95%;
    font-weight: 300;
    margin: 0 1% 20px;
    width: 100%;
    float: left;
    text-align: center; }
    #skills > ul > li h3 {
      font-weight: 300;
      font-size: 115%; }
    #skills > ul > li > ul {
      padding: 10px 0 0;
      background: #FFA500;
      color: white;
      padding: 6px;
      border-radius: 7px;
      text-align: left;
      margin: 0 16.66667%;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.44); }
      #skills > ul > li > ul > li {
        margin: 0 0 0.3em;
        padding: 0 0.2em;
        transition: all 0.5s;
        border-radius: 3px; }
        #skills > ul > li > ul > li.highlight {
          background-color: #FFE4B1;
          color: #333; }
    @media only screen and (min-width: 768px) {
      #skills > ul > li {
        margin: 0 1% 20px;
        width: 18%; }
        #skills > ul > li > ul {
          margin: 0; } }
#skills .expert:before {
  content: ' ';
  border-radius: 3px;
  margin: 0 5px 0 0;
  background-color: #5483BD;
  display: block;
  float: left;
  width: 8px;
  height: 16px;
  position: relative;
  top: 3px; }
@-moz-document url-prefix() {
  #skills .expert:before {
    top: 5px; } }
#skills .proficient:before {
  content: ' ';
  border-radius: 3px;
  margin: 0 5px 0 0;
  background-color: #00A3FF;
  display: block;
  float: left;
  width: 8px;
  height: 16px;
  position: relative;
  top: 3px; }
@-moz-document url-prefix() {
  #skills .proficient:before {
    top: 5px; } }
#skills .intermediate:before {
  content: ' ';
  border-radius: 3px;
  margin: 0 5px 0 0;
  background-color: #F9C468;
  display: block;
  float: left;
  width: 8px;
  height: 16px;
  position: relative;
  top: 3px; }
@-moz-document url-prefix() {
  #skills .intermediate:before {
    top: 5px; } }
#skills .novice:before {
  content: ' ';
  border-radius: 3px;
  margin: 0 5px 0 0;
  background-color: #E99700;
  display: block;
  float: left;
  width: 8px;
  height: 16px;
  position: relative;
  top: 3px; }
@-moz-document url-prefix() {
  #skills .novice:before {
    top: 5px; } }
#skills #key {
  float: right;
  margin: 2em 0 0; }
  #skills #key li {
    list-style: none;
    cursor: default; }
  #skills #key small {
    font-size: 80%;
    float: right;
    opacity: 0.7; }

#about .text {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  margin: 0 0 1em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25); }

#video-container {
  margin: 4em auto 0;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  #video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* Page transitions */
.anim {
  width: 100%; }

.anim.ng-enter {
  -webkit-transition: opacity 0.2s linear 0.2s;
  transition: opacity 0.2s linear 0.2s; }

.anim.ng-leave {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.anim.ng-enter {
  opacity: 0; }

.anim.ng-enter.ng-enter-active {
  opacity: 1; }

.anim.ng-leave {
  opacity: 1; }

.anim.ng-leave.ng-leave-active {
  opacity: 0; }

.galleria img {
  display: none; }

/*# sourceMappingURL=main.css.map */
