@import url(http://fonts.googleapis.com/css?family=Tienne|Miss+Fajardose|Overlock|Buda:300|Archivo+Narrow);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,200,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
html, body * {
  font: 300 13pt 'Roboto';
  /*width: 100%;*/ }

/*html, body { font-size: 13pt; width: 100%; }*/
#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  color: #b27e00;
  display: none; }

#header {
  height: 5.5em;
  background: linear-gradient(to bottom, #000, #333);
  color: #f0f0f0;
  position: relative;
  transition: height .25s; }

#header h1 {
  /*font-size: 300%;*/
  font-weight: 100;
  margin: 0 auto;
  position: relative;
  top: 0px;
  /*padding-top: 150px;*/
  /*position: absolute;*/
  /*bottom: 20px;
  left: 8.4%;*/
  transition: all 0.25s; }

#header h1 small {
  font-weight: 100;
  transition: all 0.25s; }

#header.small {
  height: 50px; }

#header.small h1 {
  top: -1em; }

#header.small h1 small {
  opacity: 0; }

#nav {
  float: right;
  margin-top: 1em;
  opacity: 0;
  transition: 0s opacity 0s; }

#nav li {
  display: inline;
  margin: 0.8em;
  font-size: 110%; }

#nav li a:link, #nav li a:visited {
  color: inherit;
  text-decoration: none; }

#header.small #nav {
  opacity: 1;
  transition: 1.25s opacity 0.25s; }

#front-links {
  margin: 0; }

#front-links a {
  /*border: 1px solid #ccc;*/
  border-radius: 20px;
  /*margin: 1em;*/
  display: block;
  width: 100%;
  height: 125px;
  background-color: #164EC0;
  background-color: #166CC0;
  /*background-color: rgba(0, 74, 255, 1);*/
  color: #f0f0f0;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin: 0.9em 0 0;
  background-color: #fafafa;
  color: #333;
  border: 2px solid #9cf;
  border-width: 0 2px 1px 0;
  background-color: transparent;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);
  /*background-color: rgba(255, 255, 255, 0.98);*/
  /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.03);*/ }

#front-links a:hover, #front-link a:hover * {
  text-decoration: none;
  /*	background-color: #6DA4DA;
  	color: #fff;*/
  /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);*/ }

#front-links a h2 {
  font-size: 170%;
  font-weight: 100;
  /*	color: rgba(146, 219, 232, 1);
  	color: rgba(255, 193, 43, 1);*/
  margin: 0;
  padding: 1em 0.3em 0.3em;
  text-align: center; }

#front-links a p {
  font-weight: 300;
  text-align: center; }

#body {
  padding: 0 0;
  margin: 0 0;
  /*	color: #505050;
  	background-color: #E1FCFF;*/ }

#body h2.title {
  margin: 0 0 1em;
  font-weight: 300;
  border-bottom: 1px solid #eee;
  padding: 0.8em 0 0; }

div#portfolio {
  margin: 0 auto;
  float: initial; }

#portfolio h3.project-title {
  white-space: pre-line;
  margin: 1em 0 0; }

#portfolio .tech {
  margin: 0 0 0.3em; }

#portfolio .tech > span {
  font-size: 80%;
  font-size: 70%;
  margin: 0 4px 0 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px 3px;
  border-width: 0 2px;
  /*white-space: pre-wrap;*/ }

#portfolio .project {
  margin-bottom: 4em; }

#portfolio .project .fakeImage {
  /*width: 95%;*/
  /*height: 250px;*/
  border: 1px solid #eee;
  border-radius: 3px;
  border-width: 1px 2px 2px 1px;
  clear: both;
  margin: 0 auto;
  padding: 0; }

#portfolio .project .fakeImage img {
  width: 100%; }

#portfolio .links > a {
  font-size: 65%;
  /*font-variant: small-caps;*/
  /*text-transform: uppercase;*/
  font-weight: 400;
  margin: 0 1em 0 0;
  background-color: #3593F0;
  padding: 2px 14px;
  border-radius: 12px;
  color: #f6f6f6;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.49);
  transition: background-color 0.15s; }

#portfolio .links > a:hover {
  background-color: #6EB7FF; }

#skills ul > li > ul {
  margin-bottom: 1em; }

#video-container {
  /*width: 853px;*/
  margin: 4em auto 0;
  /*float: none;*/
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  /*left: 16.666666%;*/ }

#video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=main.css.map */
