// @import url(http://fonts.googleapis.com/css?family=Tienne|Miss+Fajardose|Overlock|Buda:300|Archivo+Narrow);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,200,100);
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

$solid_blue: #00A3FF;

html, body, div, p {
	font: 300 13pt 'Roboto';
}

body {
	height: 100%;
	background-color: #f7f7f7;
	color: #444;
	transition: background-color 0.5s linear;

	&.dark {
		background-color: black;

		header {
			background-color: black;
			color: #5f5f5f;
			box-shadow: none;
		}
	}
}

footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	color: rgba(178, 126, 0, 1);
	display: none;
}

header {
	// height: 4em;
	padding: 0.6em 0 0;
	// background: linear-gradient(to bottom, #000, #333);
	// color: #f0f0f0;
	position: relative;
	top: 0;
	left: 0;
	height: 4.4em;

	background: #FFF;
	color: #333;
	box-shadow: 0px 0px 5px #D2D2D2;
	transition: height 0.5s, background-color 0.5s linear, color 0.5s linear;

	h1 {
		font-weight: 100;
		/*font-size: 260%;*/
		margin: 0 auto;
		position: relative;
		top: 0px;
		/*left: 8.4%;*/
		line-height: 1.2em;
		transition: font-size 0.25s, text-align 1.25s ease 1.25s;
		font-size: 130%;
		text-align: left;

		small {
			font-weight: 100;
			display: block;
			transition: font-size 0.25s;
		}

		a {
			color: inherit;
			outline: none;
			font-size: 150%;
			font-weight: 200;

			&:link, &:hover, &:active {
				text-decoration: none;
				outline: none;
				color: inherit;
			}

		}
	}

	nav > ul {
		width: 100%;
		float: left;
		opacity: 0;
		padding: 0;
		font-size: 220%;
		display: none;

		li {
			float: left;
			font-size: 110%;
			list-style: none;
			width: 33.3333%;
			text-align: center;

			a {
				border-style: solid;
				border-width: 0 2px;
				border-radius: 7px;
				border-color: transparent;
				padding: 0 0.4em;
				outline: none;
				transition: border-color 0.5s, color 0.5s;
			}

			a:link, a:visited, a:active {
				color: #555;
				text-decoration: none;
				outline: none;
			}

			a:hover {
				border-color: #C3C3C3;
				color: #8FC7FF;
			}
		}

		@media only screen and (min-width : 992px) {
			display: block;
		}
	}

	&.narrow {
		height: 3em;
		margin-bottom: 1.3em;

		h1 {
			top: 0px;
			left: 0;
			// width: auto;
			text-align: center;

			small {
				opacity: 0;
				display: none;
				transition: display 0s linear 0.25s;
			}

			@media only screen and (min-width : 992px) {
				text-align: initial;
				// width: initial;
			}
		}

		nav {
			font-size: 110%;
			display: block;

			& > ul {
				position: relative;
				opacity: 1;
				transition: opacity 0.65s ease 0.25s;
				display: block;

				a:link, a:visited {
					color: #333;
					text-decoration: none;
					font-size: 40%;
				}

				@media only screen and (min-width : 992px) {
					width: 9em;
					float: right;
					top: 0px;

					li {
						margin: 0;
						line-height: 0.5em;
					}

					a:link, a:visited {
						color: inherit;
					}

					a:hover {
						color: #8FC7FF;
					}
				}
			}
		}
	}
}

#front-links {
	margin: 0;

	a {
		border-radius: 20px;
		margin: 1.5em 0 0;
		padding: 1em;
		outline: none;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);
		background-color: #fff;
		color: #464646;
		transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

		h2 {
			font-size: 170%;
			font-weight: 300;
			margin: 0;
			text-align: center;
		}

		p {
			font-weight: 300;
			text-align: center;
		}

		&:hover {
			text-decoration: none;
			background-color: $solid_blue;
			color: #f0f0f0;

			box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.55);
		}
	}
}


main {
	padding: 0 0;
	// position: relative;
	// top: 1.5em;

	h2.title {
		font-size: 170%;
		margin: 0;
		padding: 0;
		font-weight: 300;
	}

	& > div {
		// top: -3em;
		// position: relative;

	}

	@media only screen and (min-width : 768px) {
		// padding: 5em 0 0;
		// 
		& > div {
			top: 0;
		}
	}
}

header.narrow + main {
	margin-top: 3em;
}

#portfolio {
	margin: 0 auto;
	float: initial;

	h3.project-title {
		white-space: pre-line;
		margin: 0;
		font-size: 140%;
	}

	.tech {
		margin: 0 0 0.3em;
	}

	.tech > span {
		font-size: 70%;
		margin: 0 4px 0 0;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 0px 3px;
		border-width: 0 2px;
		/*white-space: pre-wrap;*/
	}

	.project {
		margin: 0 0 3em;
		background-color: #fff;
		padding: 25px;
		border-radius: 20px;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);

		.image-holder {
			border: 4px solid #F1F1F1;
			border-radius: 3px;
			clear: both;
			margin: 0 auto;
			padding: 0;

			img {
				width: 100%;
			}
		}
	}

	.links {
		& > a {
			font-size: 65%;
			font-weight: 400;
			margin: 0 1em 0 0;
			background-color: $solid_blue;
			padding: 2px 14px;
			border-radius: 12px;
			color: #f6f6f6;
			text-decoration: none;
			box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.49);
			transition: background-color 0.15s;

			&:hover {
				background-color: #6EB7FF;
			}
		}
	}
}

#skills {
	& > ul {
		padding: 8px;
		background-color: #fff;
		border-radius: 20px;
		box-shadow: 3px 3px 3px rgba(0, 0, 0,0.25);
		margin: 0;

		* {
			list-style: none;
			cursor: default;
		}

		& > li {
			font-size: 95%;
			font-weight: 300;
			margin: 0 1% 20px;
			width: 100%;
			float: left;
			text-align: center;

			h3 {
				font-weight: 300;
				font-size: 115%;
			}

			&  > ul {
				padding: 10px 0 0;
				background: #FFA500;
				color: white;
				padding: 6px;
				border-radius: 7px;
				text-align: left;
				margin: 0 16.66667%;
				box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.44);

				& > li {
					margin: 0 0 0.3em;
					padding: 0 0.2em;
					transition: all 0.5s;
					border-radius: 3px;

					&.highlight {
						background-color: #FFE4B1;
						color: #333;
					}
				}

			}

			@media only screen and (min-width : 768px) {
				margin: 0 1% 20px;
				width: 18%;

				& > ul {
					margin: 0;
				}
			}
		}
	}

	$expert: #5483BD;
	$proficient: #00A3FF;
	$intermediate: #F9C468;
	$novice: #E99700;

	@mixin colored-dot($color) {
		content: ' ';
		border-radius: 3px;
		margin: 0 5px 0 0;
		background-color: $color;
		display: block;
		float: left;
		width: 8px;
		height: 16px;
		position: relative;
		top: 3px;

		@-moz-document url-prefix() {
			top: 5px;
		}
	}

	.expert:before {
		@include colored-dot($expert);
	}
	.proficient:before {
		@include colored-dot($proficient);
	}
	.intermediate:before {
		@include colored-dot($intermediate);
	}
	.novice:before {
		@include colored-dot($novice);
	}

	#key {
		float: right;
		margin: 2em 0 0;

		li {
			list-style: none;
			cursor: default;
		}

		small {
			font-size: 80%;
			float: right;
			opacity: 0.7;
		}
	}
}

#about {
	.text {
		width: 100%;
		background-color: white;
		border-radius: 8px;
		padding: 30px;
		margin: 0 0 1em;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
	}
}

#video-container {
	margin: 4em auto 0;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* Page transitions */
.anim {
	width: 100%;
}
.anim.ng-enter {
    -webkit-transition: opacity 0.2s linear 0.2s;
    transition: opacity 0.2s linear 0.2s;
    // position: absolute;
}

.anim.ng-leave {
    -webkit-transition: opacity 0.2s linear ;
    transition: opacity 0.2s linear;
    // position: absolute;
}
     
.anim.ng-enter {
	opacity: 0;
}
.anim.ng-enter.ng-enter-active {
	opacity: 1;
}
 
.anim.ng-leave {
  	opacity: 1;
}
.anim.ng-leave.ng-leave-active {
	opacity: 0;
}

.galleria img {
	display: none;
}
