<div id="about" class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
	<h2 class="title">{{ title }}</h2>
	<div class="text">
		<p data-ng-repeat="paragraph in details">{{ paragraph }}</p>
	</div>
</div>