<div id="front-links" class="row container-fluid">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<div ng-repeat="link in links">
			<a href="#!{{ link.href }}" class="col-xs-12">
				<h2>{{ link.title }}</h2>
				<p>{{ link.subtitle }}</p>
			</a>
		</div>
	</div>
</div>
