<div id="portfolio" class="col-lg-8 col-lg-offset-2">
	<h2 class="title">{{ title }}</h2>
	<div class="project container-fluid" data-ng-repeat="project in projects">
		<div class="col-md-4 image-holder">
			<img data-ng-src="img/{{ project.thumb }}" alt="{{ project.title }}">
		</div>
		<div class="col-md-8 details">
			<h3 class="project-title">{{ project.title }}</h3>
			<div class="tech">
				<span class="tech" data-ng-repeat="tech in project.technologies">{{ tech }}</span>
			</div>
			<p>{{ project.description }}</p>
			<div class="links" >
				<a data-ng-repeat="link in project.links" href="{{ link.url }}" target="{{ link.external ? '_blank' : '' }}">{{ link.title }}</a>
			</div>
		</div>
	</div>
</div>