<div id="skills" class="col-lg-8 col-lg-offset-2">
	<h2 class="title">{{ title }}</h2>
	<ul id="skillset" class="row clearfix">
		<li data-ng-repeat="group in skillset"><h3>{{ group.type }}</h3>
			<ul>
				<li data-ng-repeat="skill in group.skills" class="{{ skill.class }}">{{ skill.skill }}</li>
			</ul>
		</li>
	</ul>
	<div id="key">
		<ul>
			<li class="novice">Novice</li>
			<li class="intermediate">Intermediate</li>
			<li class="proficient">Proficient</li>
			<li class="expert">Expert*</li>
		</ul>
		<small>(hover/touch to highlight)<br>
			<small>* Work in progress</small>
		</small>
	</div>
</div>
