<div class="col-md-2 col-lg-3 ng-scope"></div>
<div id="about" class="col-xs-12 col-md-8 col-lg-6 ng-scope">
	<h2 class="title ng-binding">About Me</h2>
	<div class="text">
		<!-- ngRepeat: paragraph in details --><p class="ng-binding ng-scope" ng-repeat="paragraph in details">I'm a software developer who, after college, kept finding myself working in fields unrelated to what I love. Every so often I would get the urge to program something and would take on little projects only to get drawn away by Real Life(tm). One day I finally decided that I should do what I actually love to do for a living so here I am.</p><!-- end ngRepeat: paragraph in details --><p class="ng-binding ng-scope" ng-repeat="paragraph in details">I have a background in traditional programming languages such as C++ and Java and have done previous work with HTML, CSS and PHP. In the past year or so, however, I have gradually discovered just how far along Javascript has come since I last used with it (or maybe how much I underestimated it). Since then I have been learning and practicing new techniques and patterns associated with 'modern' Javascript coding in my newer projects and in my free time. I have to admit I was wrong about Javascript!</p><!-- end ngRepeat: paragraph in details --><p class="ng-binding ng-scope" ng-repeat="paragraph in details">If you have any inquiries feel free to contact me at my 'donovan.munerlyn' gmail address (please insert the '@'' and '.com'. I'm trying to avoid spam.)</p><!-- end ngRepeat: paragraph in details -->
	</div>
</div>