<div id="content" class="col-xs-12 ng-scope">
	<div id="front-links" class="row container-fluid">
		<div class="col-md-2 col-lg-3"></div>
		<div class="col-xs-12 col-md-8 col-lg-6">
			<!-- ngRepeat: link in links --><div class="col-xs-12 ng-scope" ng-repeat="link in links">
				<a href="#!portfolio" class="col-xs-12">
					<h2 class="ng-binding">Portfolio</h2>
					<p class="ng-binding">My most recent work</p>
				</a>
			</div><!-- end ngRepeat: link in links --><div class="col-xs-12 ng-scope" ng-repeat="link in links">
				<a href="#!skills" class="col-xs-12">
					<h2 class="ng-binding">Skills</h2>
					<p class="ng-binding">My technical knowledge and experience</p>
				</a>
			</div><!-- end ngRepeat: link in links --><div class="col-xs-12 ng-scope" ng-repeat="link in links">
				<a href="#!about" class="col-xs-12">
					<h2 class="ng-binding">About Me</h2>
					<p class="ng-binding">Learn a little about who I am</p>
				</a>
			</div><!-- end ngRepeat: link in links -->
		</div>
	</div>
</div>