<div class="col-lg-2 ng-scope"></div>
<div id="skills" class="col-xs-12 col-md-12 col-lg-8 ng-scope">
	<h2 class="title ng-binding">Skills</h2>
	<ul id="skillset" class="row clearfix">
		<!-- ngRepeat: group in skillset --><li class="ng-scope" data-ng-repeat="group in skillset"><h3 class="ng-binding">Languages</h3>
			<ul>
				<!-- ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="proficient">Javascript<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="intermediate">Java<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="intermediate">PHP<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="novice">C++<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills -->
			</ul>
		</li><!-- end ngRepeat: group in skillset --><li class="ng-scope" data-ng-repeat="group in skillset"><h3 class="ng-binding">Libraries</h3>
			<ul>
				<!-- ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="proficient">jQuery<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="intermediate">AngularJS<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="novice">Bootstrap<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="novice">Android Framework<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills -->
			</ul>
		</li><!-- end ngRepeat: group in skillset --><li class="ng-scope" data-ng-repeat="group in skillset"><h3 class="ng-binding">Database</h3>
			<ul>
				<!-- ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="intermediate">MySQL<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="novice">IndexedDB<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills -->
			</ul>
		</li><!-- end ngRepeat: group in skillset --><li class="ng-scope" data-ng-repeat="group in skillset"><h3 class="ng-binding">Other</h3>
			<ul>
				<!-- ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="proficient">HTML5<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="proficient">CSS3<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="proficient">AJAX<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="proficient">JSON<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills -->
			</ul>
		</li><!-- end ngRepeat: group in skillset --><li class="ng-scope" data-ng-repeat="group in skillset"><h3 class="ng-binding">Tools</h3>
			<ul>
				<!-- ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="proficient">Sublime Text<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="intermediate">git<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="intermediate">Bitbucket<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li data-ng-repeat="skill in group.skills" class="novice">Sass<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills -->
			</ul>
		</li><!-- end ngRepeat: group in skillset -->
	</ul>
	<div id="key">
		<ul>
			<li class="novice">Novice</li>
			<li class="intermediate">Intermediate</li>
			<li class="proficient">Proficient</li>
			<li class="expert">Expert*</li>
		</ul>
		<small>(hover/touch to highlight)<br>
		<small>* Work in progress</small></small>
	</div>
</div>
