<div class="col-lg-2 ng-scope"></div>
<div id="skills" class="col-xs-12 col-md-12 col-lg-8 ng-scope">
	<h2 class="title ng-binding">Skills</h2>
	<ul id="skillset" class="row">
		<!-- ngRepeat: group in skillset --><li class="ng-scope" data-ng-repeat="group in skillset"><h3 class="ng-binding">Languages</h3>
			<ul>
				<!-- ngRepeat: skill in group.skills --><li class="ng-binding ng-scope proficient" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">Javascript<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li class="ng-binding ng-scope intermediate" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">Java<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li class="ng-binding ng-scope intermediate" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">PHP<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li class="ng-binding ng-scope novice" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">C++<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills -->
			</ul>
		</li><!-- end ngRepeat: group in skillset --><li class="ng-scope" data-ng-repeat="group in skillset"><h3 class="ng-binding">Libraries</h3>
			<ul>
				<!-- ngRepeat: skill in group.skills --><li class="ng-binding ng-scope proficient" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">jQuery<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li class="ng-binding ng-scope intermediate" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">AngularJS<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li class="ng-binding ng-scope novice" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">Bootstrap<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li class="ng-binding ng-scope novice" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">Android Framework<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills -->
			</ul>
		</li><!-- end ngRepeat: group in skillset --><li class="ng-scope" data-ng-repeat="group in skillset"><h3 class="ng-binding">Database</h3>
			<ul>
				<!-- ngRepeat: skill in group.skills --><li class="ng-binding ng-scope intermediate" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">MySQL<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li class="ng-binding ng-scope novice" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">IndexedDB<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills -->
			</ul>
		</li><!-- end ngRepeat: group in skillset --><li class="ng-scope" data-ng-repeat="group in skillset"><h3 class="ng-binding">Other</h3>
			<ul>
				<!-- ngRepeat: skill in group.skills --><li class="ng-binding ng-scope proficient" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">HTML5<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li class="ng-binding ng-scope proficient" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">CSS3<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li class="ng-binding ng-scope proficient" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">AJAX<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li class="ng-binding ng-scope proficient" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">JSON<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills -->
			</ul>
		</li><!-- end ngRepeat: group in skillset --><li class="ng-scope" data-ng-repeat="group in skillset"><h3 class="ng-binding">Tools</h3>
			<ul>
				<!-- ngRepeat: skill in group.skills --><li class="ng-binding ng-scope proficient" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">Sublime Text<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li class="ng-binding ng-scope intermediate" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">git<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li class="ng-binding ng-scope intermediate" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">Bitbucket<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills --><li class="ng-binding ng-scope novice" data-ng-repeat="skill in group.skills" ng-class="{expert: skill.proficiency == 4, proficient: skill.proficiency == 3, intermediate: skill.proficiency == 2, novice: skill.proficiency == 1, }">Sass<!--  - {{ skill.proficiency }} --></li><!-- end ngRepeat: skill in group.skills -->
			</ul>
		</li><!-- end ngRepeat: group in skillset -->
		<div class="clearfix"></div>
	</ul>
	<div id="key">
		<ul>
			<li class="novice">Novice</li>
			<li class="intermediate">Intermediate</li>
			<li class="proficient">Proficient</li>
			<li class="expert">Expert*</li>
		</ul>
		<small>(hover/touch to highlight)<br>
		<small>* Work in progress</small></small>
	</div>
</div>
